[submodule "common/bamjs"]
	path = common/bamjs
	url = git@github.com:BryanApellanes/bam.js.git
[submodule "apps/bamapp"]
	path = apps/bamapp
	url = git@github.com:BryanApellanes/BamApp.git
[submodule "Workspace/BamToolkit"]
	path = Workspace/BamToolkit
	url = https://github.com/BryanApellanes/BamToolkit.git
