<select id="vimlyEnvironment">
    <option value="local">local</option>
    <option value="proj05" selected="selected">proj05</option>
    <option value="staging">staging</option>
    <option value="prod">prod</option>
</select>